/*
 *	/home/justadmin/frappe-bench/apps/erpnext/erpnext/public/css/erpnext.css
 */
.erpnext-footer {
  margin: 11px auto;
  text-align: center;
}
.show-all-reports {
  margin-top: 5px;
  font-size: 11px;
}
/* toolbar */
.toolbar-splash {
  width: 32px;
  height: 32px;
  margin: -10px auto;
}
/* pos */
.pos-item {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  padding: 5px;
  height: 0px;
  padding-bottom: 38%;
  width: 30%;
  margin: 1.6%;
  border: 1px solid #d1d8dd;
}
.pos-item-text {
  padding: 0px 5px;
}
.pos-item .item-code {
  margin-bottom: 0px;
}
.pos-item .no-image {
  background-color: #fafbfc;
  border: 1px dashed #d1d8dd;
}
.pos-item-image {
  padding-bottom: 100%;
  background-size: cover;
  border: 1px solid transparent;
  background-position: top center;
}
.pos-item-area {
  border: 1px solid #d1d8dd;
  border-top: none;
}
.pos-item-toolbar {
  padding: 10px 0px;
  border-bottom: 1px solid #d1d8dd;
}
.item-list-area {
  padding: 15px 0px;
}
.pos-toolbar,
.pos-bill-toolbar {
  padding: 10px 0px;
  border-bottom: 1px solid #d1d8dd;
  height: 51px;
}
.pos-item-toolbar .form-group {
  margin-bottom: 0px;
}
.pos-bill-wrapper {
  border: 1px solid #d1d8dd;
  border-top: none;
  margin-right: -1px;
}
.pos-bill {
  margin-left: -15px;
  margin-right: -15px;
}
.pos-bill-row {
  margin: 0px;
  padding: 7px 0px;
  border-top: 1px solid #d1d8dd;
}
.pos-bill-header {
  border: none !important;
  background-color: #f5f7fa;
}
.pos-item-qty {
  display: inline-block;
}
.pos-qty-row > div {
  padding: 5px 0px;
}
.pos-qty-btn {
  margin-top: 3px;
  cursor: pointer;
  font-size: 120%;
}
.pos .search-area .form-group {
  max-width: 100% !important;
}
.pos .tax-table {
  margin-bottom: 10px;
}
.erpnext-icon {
  width: 125px;
  margin-right: 0px;
  margin-top: -3px;
}

/*
 *	justERP ----------------------------------------------------------------------------------------------------------------
 */
.navbar-default {

   background-color: #2c3e50 !important;
   border-color: none;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {

background-color: #1abc9c;
color: white;
}

.nav-pills > li > a {

border-radius: 0px;
}
.navbar-default .navbar-nav > li > a {
color: white;
}

.navbar-new-comments {
background-color: #e74c3c;
}

.open-notification {
background-color: #e74c3c;
}

.layout-main-section {
border: none;
padding-top: 15px;
}
.nav > li > a:hover {
    background-color: #1abc9c;
    color: white;
    opacity: 0.6;
}
.nav > li > a {
font-size: 13px;
font-weight: 400;
padding: 15px 15px;
}

#module-item {
border-button: none;
border: 1px solid #e7eaec;
}

.module-item:hover,
.module-item:focus {

    background-color: #F5F5F6;
}

.module-item {
background-color: white;
}

.btn-primary {
background-color: #2c3e50;
border: none;
padding: 10px;
padding: 10px 20px;
}

.btn-primary:hover {
opacity: 0.8;
background-color: #2c3e50;
border: none;
}

.btn-default {
background-color: #1abc9c;
border: none;
color: white;
padding: 10px 20px;
}

.btn-default:hover {
background-color: #1abc9c;
border: none;
opacity: 0.8;
color:white;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
background-color: #1abc9c;
border: none;
opacity: 0.8;
color:white;

}

.btn-danger{
padding: 10px 20px;
}

.btn-success{
padding: 10px 20px;
}

.navbar-default .navbar-nav > li > a:hover {
color: white;
}

.page-head {
background-color: white;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(175, 177, 177);
    -moz-box-shadow: 0px 0px 5px 0px rgb(175, 177, 177);
    box-shadow: 0px 0px 5px 0px rgb(175, 177, 177);
}

body {
    background-color: #f0f0f0;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@font-family-serif:       Georgia, "Times New Roman", Times, serif;


h1 {
font-weight: 100;
}

h3, h4 {
    font-weight: 500;
    color: black;
}

.result-area {

background-color: white;
}

#navbar-search {
    background-color: white;
}

.dropdown-menu > li > a:hover {
font-weight: 500;
}

.dropdown-menu {
min-width: 220px;
}

.form-control {
    height: 40px
}

.set-filters .btn-group .btn-default {
    background-color: white;

}

.new-filter .text-muted {
color: white !important;
}

.list-row .list-id,
.list-row .indicator, .list-row .indicator-right {
 font-weight: 500 !important;

}

.list-row-head{
    padding: 14px 15px 7px;
    min-height: 48px;
background-color: white;

}

.list-row-head .h6{
   font-weight: bold !important;
}


.form-inner-toolbar {
    background-color: #fffdf4;
margin-bottom: 5px;
}

#page-desktop {
    background-color: #f0f0f0 !important;
}

.app-icon {
    border-radius: 0px;
    background-color: #FFF !important;
    box-shadow: none;
    width: 100%;
    height: 100%;
  /* min-width: 90px; */
}



.app-icon i {
    color: #1abc9c;
    text-shadow: none;
    font-size: 45px;
}
.app-icon:hover i, .app-icon:hover + .case-label{
color: #36414c;
  pointer-events: none;
}

.case-wrapper {
  margin: 4px;
  border: 1px solid #e7eaec;
}

.app-icon:hover {
 background-color: #F5F5F6 !important;

}

.case-label {
color: #2c3e50;
text-shadow: none;
display: inline-block;
margin-top: -100px;
}

.form-layout {
 background-color: white;
    -webkit-box-shadow: 0px 0px 2px 0px rgb(175, 177, 177);
    -moz-box-shadow: 0px 0px 2px 0px rgb(175, 177, 177);
    box-shadow: 0px 0px 2px 0px rgb(175, 177, 177);
}

.shaded-section, .timeline-item:nth-child(even) {
background-color: #F5F5F6;

}

.result {
    background-color: white;
    border: 1px solid #e7eaec;
}

.show_filters {
padding: 0;
border: none;
}

.list-row:hover {
background-color: #f9f9f9;
}

.list-value{
    color: #676a6c;
}


.fc table {
background-color: white;

}

.fc-head th {
background-color: #f9f9f9;
}

.grid-heading-row {
background-color: #f9f9f9;
}

.fn-gantt .navigate .nav-slider-button {

    background: none !important;
    border-radius: 50%;
    transition: background 0.25s;
    background-color: rgb(22, 160, 133)!important;
    z-index: 2;
    margin-top: -6px !important;
    width: 18px !important;
    height: 18px !important;
}

.gantt, .gantt2 {
    background-color: white;
    padding: 20px;
    border-radius: 0;

} 

.fn-gantt .leftPanel .name, .fn-gantt .leftPanel .desc, .fn-gantt .spacer, .fn-gantt .wd, .fn-gantt .rightPanel .month, .fn-gantt .rightPanel .year, .fn-gantt .bottom {

    background-color: white !important;
}

.frappe-list > .list-filters > .show_filters > .set-filters > .text-muted {
color: white !important;
}

.timeline-head {
background-color: #F5F5F6;
}

.timeline-item {
background-color: white;
}

.print-preview-wrapper {
background-color: transparent;
}
.form-print-wrapper{
border: none;
}
.print-toolbar{
background-color: #fffdf4;
margin-top: 15px;
border-bottom: none;
}
#page-activity .plot-wrapper{
border-bottom: none;
}

