.web-long-description {
  font-size: 18px;
  line-height: 200%;
}
.item-stock {
  margin-bottom: 10px !important;
}
.product-link {
  display: block;
  text-align: center;
}
.product-image-wrapper {
  max-width: 300px;
  margin: auto;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .product-image {
    height: 0px;
    padding: 0px 0px 100%;
    overflow: hidden;
  }
}
.product-image-square {
  width: 100%;
  height: 0;
  padding: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 0.5em;
  border: 1px solid #ebeff2;
}
.product-image.missing-image {
  width: 100%;
  height: 0;
  padding: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 0.5em;
  border: 1px solid #ebeff2;
  border: 1px dashed #d1d8dd;
  position: relative;
}
.product-image.missing-image .octicon {
  font-size: 32px;
  color: #d1d8dd;
}
.product-text {
  padding: 15px 0px;
}
@media (max-width: 767px) {
  .product-search {
    width: 100%;
    margin-bottom: 13px;
  }
}

/*
 *	justERP ----------------------------------------------------------------------------------------------------------------
 */

.navbar {
    background-color: #2c3e50 !important;

}

.navbar .navbar-text, .navbar .navbar-brand, .navbar .navbar-link, .navbar .nav > li > a {
    color: white;
}

.btn-default {
    background-color: #1abc9c;
    color: white;
}

.btn-default:hover {
  opacity: 0.5;
}


body {
    background-color: #ecf0f1;
}

.hero-and-content {
background-color: white;
}

.navbar-brand {
text-transform: uppercase;
    font-weight: 900;
    font-stretch: condensed;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:active {
color: white;
}

.btn-primary {
background-color: #1abc9c;
    border: none;
}

.btn-primary:hover {
opacity: 0.5;
background-color: #1abc9c;
}


.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background-color: #1abc9c;
    color: white;
}

.nav > li {
margin: 0px 2px 0 2px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-nav > li > a:active  {
background-color: #1abc9c;
border-radius: 5px;
color: white;
}

.web-footer {
    background-color: #ecf0f1;

}


